<menu></menu>



<div id="equipe" class="container">
    <div class="row center-align">

        <div class="col s3 offset-s3">
            <img src="assets/images/nathasha_mini.jpg" alt="photo de Nathasha" />
        </div>

        <div class="col s3 offset-s2">
            <img src="assets/images/ronan_mini.jpg" alt="photo de Ronan" />
        </div>

    </div>

</div>