#concept {
    margin-top: 50px;
    height: 100%;
    width: 100%;
    position: absolute;
}

label.active {
    color: #26a69a!important;
    padding-top: 20px;
}

#prevcrit1 {
    background-image: url("../../../public/assets/images/critere1")
}