body {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
}

menu {
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 70px;
    display: block;
    z-index: 10;
    background: #116981;
    margin-top: 0;
}

.ui {
    margin-top: 70px;
}

menu li {
    background: #116981;
}

.tabs {
    background: none;
}

a.active {
    border-bottom: 1px solid #ffffff;
    color: white!important;
}

a:hover {
    color: White!important;
}

.brand-logo {
    background-image: url("/assets/images/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 160px!important;
}