<!--<div id="Menu" class="row">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width">
            <li ng-repeat="state in ::$ctrl.states track by $index" class="tab tabs-transparent hide-on-small-and-down grey-text" ng-class="{active: $route.current.activetab == 'dashboard'}">
                <a class="grey-text" ui-sref="{{::state.name}}" ui-sref-active="active">{{::state.displayName}}</a>
            </li>
        </ul>
    </div>
</div>-->


<!--Pour ajouter les separateurs-->
<div id="Menu" class="row">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width">
            <li class="tab tabs-transparent hide-on-small-and-down">
                <a href="#" class="brand-logo"></a>
            </li>
            <li class="tab tabs-transparent hide-on-small-and-down">
                <a class="grey-text" ui-sref="accueil" ui-sref-active="active">Accueil</a>
            </li>
            <li class="tab tabs-transparent hide-on-small-and-down white-text separator">
                |
            </li>
            <li class="tab tabs-transparent hide-on-small-and-down ">
                <a class="grey-text" ui-sref="concept" ui-sref-active="active">Concept</a>
            </li>
            <li class="tab tabs-transparent hide-on-small-and-down white-text separator">
                |
            </li>
            <li class="tab tabs-transparent hide-on-small-and-down">
                <a class="grey-text" ui-sref="equipe" ui-sref-active="active">Équipe</a>
            </li>
            <li class="tab tabs-transparent hide-on-small-and-down white-text separator">
                |
            </li>
            <li class="tab tabs-transparent hide-on-small-and-down">
                <a class="grey-text" ui-sref="contact" ui-sref-active="active">Contact</a>
            </li>
            <li class="tab tabs-transparent hide-on-small-and-down white-text separator">
                |
            </li>
            <li class="tab tabs-transparent hide-on-small-and-down">
                <a class="grey-text" ui-sref="circuits" ui-sref-active="active">Circuits</a>
            </li>
        </ul>
    </div>
</div>