#accueil {
    width: 100vw;
    height: auto;
}

#accueil h1 {
    color: white;
}

.video {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: -10;
}

#accueil img {
    margin-top: 200px;
    margin-bottom: 60px;
    width: 300px;
    height: 300px;
    border-radius: 40px;
}

#accueil .btn-large {
    border: 2px solid white;
    border-radius: 4px;
    font-size: 25px;
    text-transform: none;
    margin-bottom: 200px;
}

.fa-chevron-down::before {
    color: white;
    font-size: 40px;
}