body,
html {
    height: 100%;
    width: 100%;
}

#equipe {
    background-image: url("../images/Equipebg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
}

img {
    border-radius: 50%;
}