<div id="concept" class="row">
    <div class="row">
        <h4 class="center-align">Modification des données des grands critères du Concept</h4>
    </div>
    <form id="uploadForm" enctype="multipart/form-data" action="/" method="POST">
        <div class="row center-align">
            <div class="card col s4 push-s1 criteres">
                <h5 class="center-align">Critère #1</h4>
                    <div class="input-field">

                        <input id="critere1" ng-model="$ctrl.newconcept.fr.critere1.title" type="text" class="validate">
                        <label for="critere1">Titre du critère #1</label>
                    </div>
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Parcourir</span>
                            <input type="file" name="critere1">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Parcourir icône">
                        </div>
                        <div class="input-field">
                            <textarea id="textarea1" ng-keyup="autoExpand($event)" class="materialize-textarea" ng-model="$ctrl.newconcept.fr.critere1.paragraphe"></textarea>
                            <label for="textarea1">Paragraphe critère #1</label>
                        </div>
                    </div>
            </div>
            <div class="card col s4 push-s3 criteres">
                <h5 class="center-align">Critère #2</h4>
                    <div class="input-field">
                        <input id="critere2" ng-model="$ctrl.newconcept.fr.critere2.title" type="text" class="validate">
                        <label for="critere2">Titre du critère #2</label>
                    </div>
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Parcourir</span>
                            <input type="file" name="critere2">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Parcourir icône">
                        </div>
                        <div class="input-field">
                            <textarea id="textarea2" ng-keyup="autoExpand($event)" class="materialize-textarea" ng-model="$ctrl.newconcept.fr.critere2.paragraphe"></textarea>
                            <label for="textarea2">Paragraphe critère #2</label>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row center-align">
            <div class="card col s4 push-s1 criteres">
                <h5 class="center-align">Critère #3</h4>
                    <div class="input-field">
                        <input id="critere3" type="text" ng-model="$ctrl.newconcept.fr.critere3.title" class="validate">
                        <label for="critere3">Titre du critère #3</label>
                    </div>
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Parcourir</span>
                            <input type="file" name="critere3">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Parcourir icône">
                        </div>
                        <div class="input-field">
                            <textarea id="textarea3" ng-keyup="autoExpand($event)" class="materialize-textarea" ng-model="$ctrl.newconcept.fr.critere3.paragraphe"></textarea>
                            <label for="textarea3">Paragraphe critère #3</label>
                        </div>
                    </div>
            </div>
            <div class="card col s4 push-s3 criteres">
                <h5 class="center-align">Critère #4</h4>
                    <div class="input-field">
                        <input id="critere4" type="text" ng-model="$ctrl.newconcept.fr.critere4.title" class="validate">
                        <label for="critere4">Titre du critère #4</label>
                    </div>
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Parcourir</span>
                            <input type="file" name="critere4">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Parcourir icône">
                        </div>
                        <div class="input-field">
                            <textarea id="textarea4" ng-keyup="autoExpand($event)" class="materialize-textarea" ng-model="$ctrl.newconcept.fr.critere4.paragraphe"></textarea>
                            <label for="textarea4">Paragraphe critère #4</label>
                        </div>
                    </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row center-align">
            <h4 class="center-align">Modification des données détaillées du Concept</h4>
            <div class="row">
                <div class="file-field input-field col s10 offset-s1">
                    <div class="btn">
                        <span>Parcourir</span>
                        <input type="file" name="conceptbg">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Parcourir pour modifier le fond d'écran">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10 offset-s1">
                        <textarea id="textarea5" ng-keyup="autoExpand($event)" class="materialize-textarea" ng-model="$ctrl.newconcept.fr.critere5.paragraphe"></textarea>
                        <label for="textarea5">Paragraphe</label>
                    </div>
                </div>
            </div>
            <div class="center-align">
                <button class="btn waves-effect waves-light" type="submit" ng-click="$ctrl.save()">Sauvegarder
            <i class="material-icons right">send</i>
            </button>
            </div>
        </div>
    </form>
</div>