<div id="accueil" class="row">

    <video loop muted autoplay class="video">
    <source src="../assets/images/Accueilbg" type="video/mp4">
</video>
    <div class="center-align">
        <img src="../assets/images/logoaccueil.png">
    </div>
    <div class="center-align">
        <a ui-sref="concept" class="waves-effect transparent white waves-light btn-large border no-uppercase">Créer un voyage à mon image</a>
    </div>
    <div class="center-align">
        <a ui-sref="concept" class="fa fa-chevron-down" aria-hidden="true"></a>
    </div>
</div>