<div id="equipe" class="row">
    <h4 class="center-align">Modification du fond d'écran d'equipe</h4>
    <form class="col s10 offset-s1" id="uploadForm" enctype="multipart/form-data" action="/" method="post">
        <div class="file-field input-field">
            <div class="btn">
                <span>Parcourir</span>
                <input type="file" name="Equipebg">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Changer le fond d'écran'">
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Sauvegarder
            <i class="material-icons right">send</i>
            </button>
    </form>
</div>